@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    background-color: #F5F5F4;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #0F172A;
}

input:focus-visible {
    outline: none;
}

.gradient_text {
    background: var(--Linear-1, linear-gradient(121deg, #C67CFF -1.44%, #3A65FF 101.49%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar .active {
    position: relative;
}

.sidebar .active::before {
    position: absolute;
    content: '';
    background-color: #4F46E5;
    border-radius: 2px;
    width: 4px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.no_scrollbar::-webkit-scrollbar {
    display: none;
}