@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  background-color: #f5f5f4;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0f172a;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

input[type="radio"] {
  accent-color: #4f46e5;
}

.sidebar .active {
  position: relative;
}

.sidebar .active::before {
  position: absolute;
  content: "";
  background-color: #4f46e5;
  border-radius: 2px;
  width: 4px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px;
  background-image: url("../src/assets/select-arrow.svg");
  background-position: right 2% center;
  background-repeat: no-repeat;
}
