@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .website_contianer {
        @apply container max-w-[1440px] w-full px-5
    }
}

.myworktable tbody tr:last-child td {
    border-bottom-width: 0;
}

.activity_card:last-child {
    border-bottom-width: 0;
}


.chat-box::-webkit-scrollbar {
    width: 4px;
}

.chat-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 12px;
}